node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.idea/*
.data/
.vscode/

content/*
!content/voies-cyclables-brut/
content/voies-cyclables-brut/*
!content/voies-cyclables-brut/gvv.geojson
!components/content/
public/
assets/style.json
package-lock.json
